[2019-08-29 10:07] teo89 opened #3 "XML Schema Implementation of Geographic Information Metadata documented in ISO/TS 19139-1:2019"
I got the license for the ISO/TS 19139-1:2019, but in the document there are not specifications for the new format of the XML schema or which parts of it is changed. Could you please tell me, if there is an XML schema file or a UML for this ISO. If not, when is planned to be published?

[2019-08-29 10:47] PeterParslow commented on #3
Having re-read ISO/TS 19139-1:2019, after being part of the project team, I'd say a couple of things:
1. as per the introduction, "this document provides a definitive set of rules for encoding ISO metadata standards in" XML.

The XML schemas that implement those rules are associated with the relevant standards, in particular ISO 19115-3 and ISO 19157-2 - others are expected to come along.

2. 1913

[2019-08-29 12:22] teo89 commented on #3
Thank you for your detailed answer. If I understand correctly from your answer an update of gmd.xsd (Geographic MetaData (GMD) extensible markup language is a component of the XML Schema Implementation of Geographic Information Metadata documented in ISO/TS 19139:2007. GMD includes all the definitions of http://www.isotc211.org/2005/gmd namespace. The root document of this namespace is the file gm

[2019-08-29 13:28] PeterParslow commented on #3
Sort of - no update of gmd.xsd is planned; it has been superceded by mdb.xsd when ISO 19115-3 superceded the XML schemas within ISO 19139:2007.

"If anyone wants to use the MD_Metadata" they will find it in ISO 19115-3 https://standards.iso.org/iso/19115/-3/mdb/2.0/metadataBase.xsd

"If anyone wants to use the MD_Metadata _and be conformed with ISO/TS 19139-2:2019_", then they would be repeating t

[2019-09-01 09:42] teo89 opened #4 "Validation against xml schema error"
Hello,
I used the "fromISO19139.xsl" to convert an old xml file with root element the gmd:MD_Metadata to mdb:MD_Metadata. As a next step I tried to validate the converted xml file against the mdb.xsd file with Oxygen and with java code but the following error occurred in both cases.
"Cannot find the declaration of element 'mdb:MD_Metadata'"
I tried also to validate the https://standards.iso.org/is

[2019-09-02 08:25] PeterParslow commented on #4
My guess: nothing in your set up has any reference to the schema location for the mdb.xsd?

For the file at https://standards.iso.org/iso/19115/-3/mdb/1.0/mdb_valid.xml to validate, either "mdb.xsd" has to be "in the same folder" (as it is if you validate it online), OR something in your Oxygen set up has to know where to find an XSD for the http://standards.iso.org/iso/19115/-3/mdb/1.0 namespace

[2019-09-02 14:47] teo89 commented on #4
I am using the online schema "https://standards.iso.org/iso/19115/-3/mdb/1.0/mdb.xsd" and I am getting
org.xml.sax.SAXParseException; systemId: http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19136_Schemas/gml.xsd; lineNumber: 1; columnNumber: 1; Premature end of file.

Also if I use the "http://schemas.isotc211.org/19115/-3/mdb/1.0/mdb.xsd" I am getting the error

 Non-whitespace cha

[2019-09-02 14:59] teo89 commented on #4
Also if I use the "http://schemas.isotc211.org/19115/-3/mdb/1.0/mdb.xsd" I am getting the error

 Non-whitespace characters are not allowed in schema elements other than 'xs:appinfo' and 'xs:documentation'. Saw '301 Moved Permanently'.

[2019-09-03 00:39] ronaldtse commented on #4
@teo89 for schemas.isotc211.org schemas, please use the HTTPS link.

[2019-09-03 04:15] smrgeoinfo commented on #4
Try using this for the schema location:
` <xsl:attribute name="xsi:schemaLocation" select="'http://standards.iso.org/iso/19115/-3/mds/1.0 https://schemas.isotc211.org/19115/-3/mds/1.0/mds.xsd'"/>`

the mdb.xsd schema is just the base required elements for valid MD_Metadata, to get mrs and other namespace components, you need to use mds, which corresponds more closely to the 19115 gmd namespace.

[2019-09-03 06:02] teo89 commented on #4
@smrgeoinfo your suggestion is to convert my xml file and make schemalocation ="http://standards.iso.org/iso/19115/-3/mds/1.0 https://schemas.isotc211.org/19115/-3/mds/1.0/mds.xsd". I changed my XML  and now is

`<?xml version="1.0" encoding="UTF-8"?>
<mdb:MD_Metadata xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xmlns:cat="http://standards.iso.org/iso/19115/-3/cat/1.0"

[2019-09-03 06:38] teo89 commented on #4
@smrgeoinfo  Thank you very much. My assumption was that I need to use the mdb.xsd schema but the validation against mds.xsd schema worked.
One extra question, I am trying to find where the gmd:updateScopeDescription element went. I see that the xsl converter changes the gmd:updateScopeDescription to mmi:updateScopeDescription which is not valid because the mmi does not have this element.
Thank yo

[2019-09-03 15:43] smrgeoinfo commented on #4
looks like it should map to mmi:maintenanceScope with type mcc:MD_Scope, which has  ScopeCode, Extent and ScopeDescription sub elements. That's a problem in the fromISO19139 transform, can  you create a new issue for that?

[2019-09-04 07:01] teo89 opened #5 "Element gmd:updateScopeDescription is not mapped correctly in fromISO19139 file"
The element gmd:updateScopeDescription is converted to mmi:updateScopeDescription which is not supported by the XML schema. According to @smrgeoinfo  This element should map to mmi:maintenanceScope with type mcc:MD_Scope, which has ScopeCode, Extent and ScopeDescription sub elements. That's a problem in the fromISO19139 transform, can you create a new issue for that? Check also the issue [https://

[2019-09-06 07:21] #3 closed, assigned to nobody

[2019-09-06 07:21] #4 closed, assigned to nobody

[2019-10-08 22:17] ejbleys opened #12 "Mapping of ISO 19115-2 not correct"

[2019-10-08 22:18] ejbleys opened #13 "Mapping of ISO 19103 to 19115-3/gco/Record not correct"

[2019-10-08 22:19] ejbleys opened #14 "Concern about mapping of 19115-3/cit/date/Date/dateTime"

[2019-12-12 04:47] ejbleijs commented on #14
ISO 19115-3 class CI_Date attribute date is based on ISO 8601
ISO 8601:2019 identifies [dateE][timeE] hence dateTime may be represented as date alone.

[2019-12-12 04:47] #14 closed, assigned to nobody

[2019-12-12 04:57] ejbleijs commented on #13
It has been suggested that  an XML implementation schema be generated for ISO 19103 to represent the sub-components of Record
RecordType currently typed as CharacterString
Record <<interface>>
   type [0..1] RecordType
   field [1..*]
RecordType <<interface>>
   fieldType [1..*] FieldType
Field <<interface>>
   value         CharacterString
   type [0..*] FieldType
FieldType <<interface>>
   field

[2019-12-12 04:58] ejbleijs commented on #12
Issue has been rectified

[2019-12-12 04:58] #12 closed, assigned to nobody

[2019-12-12 05:02] PeterParslow commented on #13
Will there be a similar thing for pretty much everything in Clause 7 of ISO 19103 - all the core data types?

Exceptions could be where ISO 19139-1 and ISO 19136 Annex E agree on a mapping that doesn't require a UML class. I haven't checked if there are any.

[2019-12-12 06:29] ejbleys commented on #13
Peter
Peter wrote:

Response:

All Clause 7 will be managed

Peter wrote:

Response:
Yes/No - As the existing standards will not be amended purely for this, no exceptions are required
Once those standards are updated, the changes would be applied in those amendments/updates

Cheers
e
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ejbleys@gmail.com
Mob:   +61 (0)411 483 876
Land:  +61

[2019-12-12 06:43] PeterParslow commented on #13
"Exceptions": I was meaning things like ISO 19103 CharacterString, which both ISO 19139-1 (7.8.2) & ISO 19136 (Table D.2) map to xs:string.

I thought that would mean that those parts of ISO 19103 Clause 7 won't need to be represented by XML schema fragments.

[2019-12-12 06:50] ejbleys commented on #13
Sorry my misunderstanding
We should adopt xs: types wherever available
E
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ejbleys@gmail.com
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ejbleijs@gmail.com

[2020-03-10 15:44] MarcoMinghini opened #24 "Removal of ISO resources under https://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas"
Dear all,
on behalf of the INSPIRE team, I am writing to ask for some explanation of the recent removal of all the resources under https://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas. These include the schema http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gmd/gmd.xsd, which is referenced in other widely-used schemas.

This breaking change is alre

[2020-03-10 19:54] ejbleys commented on #24
Dear Marco
I have no idea how the material is placed/removed from the http://standards.iso.org/ittf/PubliclyAvailableStandards/ <http://standards.iso.org/ittf/PubliclyAvailableStandards/> site
However I recognise that the ISO 19139 schemas should (but currently not) be available from https://schemas.isotc211.org/19139/-/gmd/ <https://schemas.isotc211.org/19139/-/gmd/>
I will endeavour to have suit

[2020-03-11 09:39] PeterParslow commented on #24
I suggest we (you Evert @ejbleys ) escalate the issue at standards.iso.org to Mats to take up with ISO CS.

Let's hope they don't have a policy of simply taking down these resources when the related standard is withdrawn!

[2020-03-11 09:42] ronaldtse commented on #24
@ejbleys @PeterParslow since this is a matter of urgency, we can work on making those schemas available at the schemas.isotc211.org location once someone provides us with a copy of the schema. Just ping me!

[2020-03-11 09:45] ronaldtse commented on #24
Guys, I found these on web.archive.org and also in the ISO Geodetic Registry code. Here they are.
[19139.zip](https://github.com/ISO-TC211/schemas/files/4317361/19139.zip)

[2020-03-11 09:50] PeterParslow commented on #24
Be wary of which set we take on & host. ISO 19139 schemas have a long history of varied & incomplete schema sets, which have caused all sorts of "gotchas".

For the UK, we have summarised the position (as it was a couple of years ago!) here: https://www.agi.org.uk/40-gemini/1048-uk-gemini-encoding-guidance#2.1

Our UK preferred sets depend on the standards.iso.org set. The various OGC ones need di

[2020-03-11 09:52] ronaldtse commented on #24
@PeterParslow could you have a look at the zip archive uploaded? From its contents, it's likely the files were from the standards.iso.org site.

[2020-03-11 09:56] ronaldtse commented on #24
I've made a pull request to resolve this in #25.

[2020-03-11 10:16] PeterParslow commented on #24
A quick look suggests they might be:
 - contrary to the date in the readme, several of the files were updated in 2012 (the @version attribute of the root element). This fits in with XMG work under Jean. The issue then was that W3C had just published XLink 1.1 & OGC had decided to adopt it. See http://schemas.opengis.net/iso/19139/ReadMe.txt - which *may* be a better source.

- a number of the file

[2020-03-11 10:21] ronaldtse commented on #24
@PeterParslow thanks! If we do host them we will have to fix the import paths, but maybe the first point means we will need to seek another source.

web.archive.org does seem to contain this content fully. Let me download them and revert.

[2020-03-11 10:28] ronaldtse commented on #24
@PeterParslow the copies from web.archive.org are now in #25. These are supposed to be identical to the ones from standards.iso.org. They were indeed, very different.

[2020-03-11 13:30] PeterParslow commented on #24
The resources are also required in their original authoritative place, unless ISO (or TC211) can manage a rapid communication process to persuade lots of implementations to change where they look for them.

For example the aforementioned UK GEMINI references a number of code lists that should reside in http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/resources/codelist/

[2020-03-11 13:47] PeterParslow commented on #24
Looking at https://standards.iso.org/ittf/PubliclyAvailableStandards/ the problem seems to have been caused by ISO's migration to a new content management system - the web pages now have the same look and feel as the new document sharing system (for which the 'top level' of TC211 is part of the pilot).

I guess they haven't created places in the new system for withdrawn/superseded standards, or it

[2020-03-11 23:56] ejbleys commented on #24
Hi Guys
I recall that at the Plenary in Omiya, Knut mentioned that all standards will be remain available.
	Hence there is no need to specifically develop a location for <withdrawn | superseded>
		the structure https://schemas.isotc211.org/<standardNo.>/-<partNo.>/<nameSpaceAbbreviation>/<versionNo.> <https://schemas.isotc211.org/%3CstandardNo.%3E/-%3CpartNo.%3E/%3CnameSpaceAbbreviation%3E/%3Cvers

[2020-03-12 02:19] ronaldtse commented on #24
@ejbleys agree. According to the given URL pattern, what should the proper path be for the URL in the original question: `http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gmd/gmd.xsd`?

The agreed pattern is: ` https://schemas.isotc211.org/<standardNo.>/<partNo.>/<nameSpaceAbbreviation>/<versionNo.>`

Would it be `https://schemas.isotc211.org/19139/-/gmd/gmd.xsd`? There a

[2020-03-12 02:35] ejbleys commented on #24
Thanks Ron
Opinions please
To fit the pattern properly it would be https://schemas.isotc211.org/19139/-/gmd/1.0/gmd.xsd <https://schemas.isotc211.org/19139/-/gmd/1.0/gmd.xsd>
If there were to be a new version of ISO 19139 then it would get a part number (eg -1, -2, -n)
You are correct in suggesting that the pattern was considered after 19139 was developed
	but we should start with a version now

[2020-03-12 03:38] ronaldtse commented on #24
@ejbleys agree with `https://schemas.isotc211.org/19139/-/gmd/1.0/gmd.xsd`. I think using `1.0`  instead of `0.0` makes sense, since this is a migration -- people need to update their locations anyway.

Re: `xlink.xsd`: where are you seeing the relative paths to `xlink.xsd`? I did a search across all schema files and they're all using `https://www.w3.org/1999/xlink.xsd`. Maybe I'm missing somethin

[2020-03-12 03:39] ronaldtse opened #26 "Fix `schemaLocation` paths that points to non-existing paths on standards.iso.org"
In #24 it is now known that some schema files on standards.iso.org have been deleted.

We need to update existing schema files in our repo to no longer point there but to a local copy.

_Originally posted by @ronaldtse in https://github.com/ISO-TC211/schemas/issues/24#issuecomment-597990216_

[2020-03-12 03:55] ejbleys commented on #24
Thanks
Yes but 19139 links to 19136 there in lies the issue
Unravelling the spaghetti - you up for a challenge?
Evert
Evert Bleys
4 Tudor Place HUGHES ACT 2605
Australia
+61 (0)2 62811773
+61 (0)411 483 876
ejbleys@gmail.com
Skype ejbleijs@gmail.com

[2020-03-12 04:08] ejbleys commented on #26
Opinions please (Not just Ron and Evert)
Local copy? ie relative path
	Only works in situ
OR
schemaLocation =“https://schemas.isotc211.org/ <https://schemas.isotc211.org/>…”?
	harder to update WHEN we move again
E
Evert Bleys
4 Tudor Place HUGHES ACT 2605
Australia
+61 (0)2 62811773
+61 (0)411 483 876
ejbleys@gmail.com
Skype ejbleijs@gmail.com

[2020-03-12 05:56] ejbleys commented on #26
For those who need to see what it would look like
Here is a ZIP file containing ISO 19139 and ISO 19136 in the directory structure as discussed
using relative paths

Note:
I have not tried to include ISO 19119
In the XML (.xml & .xsd), I have not changed anything but the schema locations and the layout of the namespace attributes

Cheers
Evert
Evert Bleys
Convenor ISO TC 211 XMG
4 Tudor Place HUGH

[2020-03-12 06:44] cportele commented on #26
Whatever you do, **don't** include any copy of 19136 / GML schema documents on schemas.isotc211.org. Just reference the normative schemas in the OGC schema repository where OGC has policies and processes in place to maintain permanent availability and include bugfixes as needed. Everything else are broken or outdated copies like the ones previously on standards.iso.org.

----
**Resolution 959: Sch

[2020-03-12 07:39] ejbleys commented on #26
Thanks
Will do
I’ll look for the appropriate schema locations
Cheers
Evert

Sent from my iPhone

[2020-03-12 08:54] PeterParslow commented on #26
As Clemens says, where we are importing schemas that are managed by other groups, we should reference them at their URLs. I think the same principle could be usefully applied where on TC211 standard imports a schema from another TC211 standard. In my view, relative paths are for where the package/schema file being imported is part of the same standard.

Of course, that gives some ambiguity for ISO

[2020-03-12 09:24] PeterParslow commented on #24
I may have over stated the size of the user problem. If ISO won’t put them back (or can’t be trusted!) I think we “just” need INSPIRE and OGC to change their top level files to import from our new location:

1.	The OGC CSW 2.0.2 schemas import them from there: http://schemas.opengis.net/csw/2.0.2/profiles/apiso/1.0.0/apiso.xsd (last update 2018-03-01)
2.	The INSPIRE set, constructed to bring toget

[2020-03-12 10:09] nmtoken commented on #24
schemaLocation in XML instances don't need to change, it just represents a hint to applied schema

[2020-03-12 10:11] nmtoken commented on #24
schemaLocation in schema like http://schemas.opengis.net/csw/2.0.2/profiles/apiso/1.0.0/apiso.xsd and http://inspire.ec.europa.eu/draft-schemas/inspire-md-schemas/apiso-inspire/apiso-inspire.xsd will need to change; currently they import/include schema from http://standards.iso.org/ittf/PubliclyAvailableStandards

[2020-03-12 12:53] fabiovin commented on #24
For the INSPIRE Reference Validator, we created a new version of the apiso schema (http://inspire.ec.europa.eu/draft-schemas/inspire-md-schemas-temp/apiso-inspire/apiso-inspire.xsd), to overcome the http/https redirect problem, importing the two schemas (gmd and gmx) from the OpenGIS repository.

It is used as fixed schema to validate the metadata and it work fine.

Looking at this ReadMe file (ht

[2020-03-12 13:33] ronaldtse commented on #24
@ejbleys Always up for spaghetti -- as long as there is an agreed upon end! 👍

[2020-03-16 07:49] ronaldtse opened #28 "Deployment trigger failed"
@CAMOBAP795 issue found:

- Your workflow file was invalid: The pipeline is not valid. .github/workflows/deploy.yml (Line: 13, Col: 13): Unrecognized named-value: 'event_type'. Located at position 1 within expression: event_type

Can you please help?

_Originally posted by @ronaldtse in https://github.com/ISO-TC211/schemas/pull/27#issuecomment-599391468_

[2020-03-16 08:57] CAMOBAP commented on #28
@ronaldtse  Could you please enable debug logging? https://github.com/actions/toolkit/blob/master/docs/action-debugging.md#how-to-access-step-debug-logs

[2020-03-16 09:26] ronaldtse commented on #28
Fixed now. Thanks!

[2020-03-16 09:26] #28 closed, assigned to nobody

[2020-03-26 10:41] MartinePaepen commented on #24
Hi,
we are implementing ISO 19115-2:2019-01.
And face the same problem:
the spec indicates that the online schema is availalbe on https://standards.iso.org/iso/19115/-2/gmi/
however if we use these, our INSPIRE metadata files doesn't validate due to the missing schema locations at http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/

For  us it is necessary to solve this qui

[2020-03-26 10:54] MartinePaepen commented on #26
Hi,
we are implementing ISO 19115-2:2019-01.
And face the same problem:
the spec indicates that the online schema is availalbe on https://standards.iso.org/iso/19115/-2/gmi/
however if we use these, our INSPIRE metadata files doesn't validate due to the missing schema locations at http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/

For us it is necessary to solve this quic

[2020-03-26 11:42] ronaldtse commented on #24
@MartinePaepen if you need to solve this quickly, the identical schema files of http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/ are already provided on schemas.isotc211.org  (since 842920a533e7b8ddd8a95c95a6a3bb6f373f6ace).

* If we change the absolute paths of http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/ in https://standards.iso.org/iso/1

[2020-03-26 12:27] MartinePaepen commented on #24
Trying to use  https://schemas.isotc211.org/schemas/19115/-2/gmi/ and I receive the following error:

404 Not Found
Code: NoSuchKey
Message: The specified key does not exist.
Key: 404.html
RequestId: 1ABF645DCD1175B5
HostId: tZC75zYXGyEemr4VckxZGQXZqO7KGPyVkkOP7yO4WF0m0OPfPAxDhfTcAgWqx8Pp5krZYA8fFXw=
An Error Occurred While Attempting to Retrieve a Custom Error Document
Code: NoSuchKey
Message: Th

[2020-03-26 12:29] ronaldtse commented on #24
@MartinePaepen The paths have to be fully specified: e.g.
https://schemas.isotc211.org/schemas/19115/-2/gmi/1.0/gmi.xsd

However, we haven't updated the `schemaLocations` yet of these files; need to confirm with @ejbleys who is the XMG convener.

[2020-03-26 12:39] ronaldtse commented on #24
@MartinePaepen @ejbleys a pull request has been made in #30 , if this is agreed we can merge it -- then @MartinePaepen you can utilize the new location.

[2020-03-27 01:11] ejbleys commented on #24
If you are truly implementing ISO 19115-2:2019 you should be using ISO 19115-3 not gmi
There is a plan (not fully agreed on) to break up ISO 19115-3 into:
	ISO 19115-1; ISO 19115-2; ISO 19103 (most of gco/gcx), and others as needed

Cheers
E
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ejbleys@gmail.com
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ejbleijs@gmail.com

[2020-03-27 02:08] ronaldtse commented on #24
@MartinePaepen : FYI #30 has been merged by @ejbleys , so https://schemas.isotc211.org/schemas/19115/-2/gmi/1.0/gmi.xsd (and other 19115-2) will refer to valid 19139 schemaLocations.

Closing this issue as the 19139 schemas are now available through schemas.isotc211.org courtesy of XMG.

[2020-03-27 02:08] #24 closed, assigned to nobody

[2020-03-27 02:18] ronaldtse commented on #26
Looks like this is no longer an issue since 19139 has returned? @ejbleys please feel free to close if it is the case. Thanks!

[2020-03-27 07:01] MartinePaepen commented on #24
If you are truly implementing ISO 19115-2:2019 you should be using ISO 19115-3 not gmi
There is a plan (not fully agreed on) to break up ISO 19115-3 into:
	ISO 19115-1; ISO 19115-2; ISO 19103 (most of gco/gcx), and others as needed

==> Is this true?

In the SPECs ISO19115-2:2019(E) p. 56 we find the link to https://schemas.isotc211.org/schemas/19115/-2/gmi/  However it states that the vesion numb

[2020-03-27 07:08] MartinePaepen commented on #24
@ejbleijs I have checked 19115-3 and it doesn't contain gmi and that is exactly what we need to put the acquisitionInformation and band information etc....

[2020-03-27 07:12] MartinePaepen commented on #24
I have also checked the schemas of https://standards.iso.org/iso/19139/Schemas/ and also there is no gmi available.

[2020-03-27 07:22] ejbleys commented on #24
GMI/2.0 has been superseded in ISO 19115-3 and is now referenced as MAC; MRC; MRL; and MSR
	The ISO/TC 211 XMG is attempting to herd-the-cats so that only once a schemas is accepted for release will the Annex describing it identify its intended location
I appreciate the intrinsic difficulty caused by the Printed/Printable version of ISO 19115-2 not having been updated
The ISO/TC 211 XMG will (hope

[2020-03-27 07:24] ejbleys commented on #24
ISO 19115-2 was not part of ISO 19139
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ejbleys@gmail.com
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ejbleijs@gmail.com

[2020-03-27 07:25] ejbleys commented on #24
GMI deprecated in ISO 19115-3

Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ejbleys@gmail.com
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ejbleijs@gmail.com

[2020-03-27 07:28] PeterParslow commented on #24
Marine, that second post is easier to answer: "gmi" wasn't part of ISO 19139; it was introduced in ISO 19139-2.

As specified in that standard, the gmi files live at https://www.isotc211.org/2005/gmi/.

Martine, do bear with Ron & Evert as they attempt to sweep up after ISO unexpectedly removing the schema set that most of us used!

[2020-03-27 07:32] PeterParslow commented on #26
@ronaldtse , where has it returned to? It's not at the "previously most authoritative place", https://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/

If https://standards.iso.org/iso/19139/ is now considered the right place, then there are still schema import issues to solve (both for TC211 and others - INSPIRE, OGC,...)

[2020-03-27 07:35] ronaldtse commented on #26
@PeterParslow bad wording on my part. It has been "re-inserted" (commit: 842920a533e7b8ddd8a95c95a6a3bb6f373f6ace) to schemas.isotc211.org .

This issue was originally meant to address missing schemaLocations sent out to standards.iso.org.

This still applies...

[2020-03-27 08:30] MartinePaepen commented on #24
Thanks @PeterParslow .
We were also using the  https://www.isotc211.org/2005/gmi/ schemas. However we see that they are not completely in line with the SPECs of ISO19115-2:2019(E). For example: MI_Operation contains in the spec parentOperation as Mandatory but is not part of the 2005/gmi MI_Operations
==> this makes it confusing and difficult to implement.

[2020-03-27 10:01] ronaldtse commented on #26
I did a search in the repo, and these schemaLocations are no longer around:

http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19136_Schemas/gml.xsd (point to http://schemas.opengis.net/gml/3.2.1/ ?)

http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd
http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gmd/gmd.xsd
http://standar

[2020-03-27 11:01] PeterParslow commented on #24
@MartinePaepen . 19115-2 isn't a standard I have experience of. If you think the issue you've spotted is a problem in the standard document, please log it at http://isotc211.standardstracker.org/ - unless it's one of the issues already raised there (you can browse by standard number).

If you think the standard is correct & the schema isn't, then @ejbleys may prefer a separate GitHub issue for tha

[2020-03-27 19:54] ejbleys commented on #26
Hi Guys
The only authoritative space is
https://schemas.isotc211.org <https://schemas.isotc211.org/>

Cheers
E
Evert Bleys
4 Tudor Place HUGHES ACT 2605
Australia
+61 (0)2 62811773
+61 (0)411 483 876
ejbleys@gmail.com
Skype ejbleijs@gmail.com

[2020-04-07 14:48] PeterParslow commented on #26
Note: the same problem also affects the schemaLocation attributes in the code lists e.g. https://schemas.isotc211.org/schemas/19139/resources/gmxCodelists.xml - which are ours to fix.

[2020-04-07 21:05] ejbleys commented on #26
These now, appropriately, reside in https://schemas.isotc211.org/19139/-/ <https://schemas.isotc211.org/19139/-/>
Cheers
e
Evert Bleys
4 Tudor Place HUGHES ACT 2605
Australia
+61 (0)2 62811773
+61 (0)411 483 876
ejbleys@gmail.com
Skype ejbleijs@gmail.com

[2020-04-08 07:23] PeterParslow commented on #26
@ejbleys OK - but why do we also host a set with the unhelpful schemaLocations, at the URL I gave?

After I posted this, Mats let me know that ISO have redirected the old 19139 location on their site to https://standards.iso.org/iso/19139/

[2020-04-08 10:11] ejbleys commented on #26
Hi Peter
I see what you mean
Anyone on the XMG is at liberty to help fix them

Cheers
E
Evert Bleys
Only the Convenor ISO / TC 211 XMG
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ejbleys@gmail.com
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ejbleijs@gmail.com

[2020-04-08 22:57] ejbleys commented on #26
Hi Guys
The appropriate URL for that code list is
https://schemas.isotc211.org/19139/-/resources/codelist/gmxCodelists.xml <https://schemas.isotc211.org/19139/-/resources/codelist/gmxCodelists.xml>
Cheers
E
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ejbleys@gmail.com
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ejbleijs@gmail.com

[2020-04-08 23:02] ejbleys commented on #26
ISO 19136 has been retired use GML
The ISO 19139 XSDs were lost, once they were recovered, they have been extracted, schemaLocations adjusted and placed into the agreed location
The appropriate location for those XSDs are:
https://schemas.isotc211.org/19139/-/gmd/1.0/gmd.xsd <https://schemas.isotc211.org/19139/-/gmd/1.0/gmd.xsd>
https://schemas.isotc211.org/19139/-/gmd/1.0/gmd.xsd <https://schemas

[2020-04-08 23:07] ejbleys commented on #26
Dear All
https://schemas.isotc211.org/<standardNo>/-<partNo>/<nameSpaceAbreviation>/<versionNo>/???.xsd <https://schemas.isotc211.org/%3CstandardNo%3E/-%3CpartNo%3E/%3CnameSpaceAbreviation%3E/%3CversionNo%3E/???.xsd>
is the appropriate place
TC 211 has undertaken to maintain schemas in those locations until:
     	the base URL changes (but the structure would be retained)
	we stop supporting XML

[2020-04-10 07:30] ronaldtse opened #31 "Invalid schema at https://schemas.isotc211.org/19115/-3/md2/2.0/md2.xsd"
From Mr. Wern Yir Tsai:

![2-baseTypes2014 is valid](https://user-images.githubusercontent.com/11865/78972298-0332b680-7b40-11ea-994d-46eecf03a011.png)

![1-md2 is invalid](https://user-images.githubusercontent.com/11865/78972300-03cb4d00-7b40-11ea-9797-9e9f193e3d7d.png)

[2020-04-14 08:57] PeterParslow commented on #31
Oxygen fails to validate them, with a different reason - an HTTPS certificate issue:

![image](https://user-images.githubusercontent.com/8492193/79205741-3cb43c00-7e36-11ea-8a21-c0207a097cad.png)

[2020-04-14 09:08] PeterParslow commented on #31
More usefully, I remember this from XMLSpy years ago - it sometimes gets in a muddle with all the circular imports, when it thinks it has detected some kind of clash between two different definitions of the same thing.

Although here the message is claiming the gco:nilReason is declared twice in the same file - presumably it hasn't coped with that file being imported twice.

Perhaps one of the fil

[2020-04-14 09:48] ejbleys commented on #31
Are you using one of the Saxon engine?
Cheers
E
Evert Bleys
4 Tudor Place HUGHES ACT 2605
Australia
+61 (0)2 62811773
+61 (0)411 483 876
ejbleys@gmail.com
Skype ejbleijs@gmail.com

[2020-04-14 10:06] PeterParslow commented on #31
I had Oxygen set to use Xerces; set to Saxon gives the same certificate error. But perhaps the question wasn't addressed to me....

[2020-04-14 10:34] ejbleys commented on #31
Hi Peter
It was, are you using Saxon EE?
E
Evert Bleys
4 Tudor Place HUGHES ACT 2605
Australia
+61 (0)2 62811773
+61 (0)411 483 876
ejbleys@gmail.com
Skype ejbleijs@gmail.com

[2020-04-14 14:25] PeterParslow commented on #31
Evert,
Those are the two choices in Oxygen: Xerces or Saxon EE. But given it hits a certificate error, it hasn’t got that far.

Peter Parslow
OS Open Standards Lead
Adanac Drive, Southampton, United Kingdom, SO16 0AS
T: +44 (0)2380 055341 | M: +44 (0)7796 610020
www.os.uk<http://os.uk/> | peter.parslow@os.uk<mailto:peter.parslow@os.uk>

From: ejbleys <notifications@github.com>
Sent: 14 April 2020

[2020-04-14 22:21] ejbleys commented on #31
Hi Peter
Di I understand what is happening - NO

Cheers
E
Evert Bleys
4 Tudor Place HUGHES ACT 2605
Australia
+61 (0)2 62811773
+61 (0)411 483 876
ejbleys@gmail.com
Skype ejbleijs@gmail.com

[2020-06-08 14:31] ejbleys commented on #26
Evert Bleys
4 Tudor Place HUGHES ACT 2605
Australia
+61 (0)2 62811773
+61 (0)411 483 876
ejbleys@gmail.com
Skype ejbleijs@gmail.com

[2021-04-05 14:47] Intelligent2013 opened #33 "XSDs have links to non-existing XSD files"
These XSDs have a links to the non-existing XSD:
1. `19157\-\mdq\1.2.0\dataQualityResult.xsd` -> `19136/-/gmw/1.1.0/gmw.xsd~ (**fixed** earlier in [commit](https://github.com/ISO-TC211/schemas/commit/b230fede20bd39501a535dc027431d4f092f17f7#diff-d3f24ef229d8aed6eab7f67d40881801c8b441851937238bc21a1e2fcd34ffdf))
2. `19130\-1\smi\1.1.0\groundControlPoints.xsd` -> `19163/-1/igd/1.1.0/igd.xsd` (**fixe

[2021-04-05 14:51] Intelligent2013 opened #34 "XSDs with duplicated declaration of types"
Some XSDs have duplicated declaration of types (via xsd:import). For example, `19115/-3/mda/1.0/mda.xsd`:
Error:
[code]

List of XSDs with such issue:
- ~19115/-3/mda/1.0/mda.xsd~ (_ignore issue, because there is version 2.0_)
- ~19115/-3/mda/1.0/metadataApplication.xsd~ (_ignore issue, because there is version 2.0_)
- 19115/-3/mda/2.0/mda.xsd
- 19115/-3/mda/2.0/metadataApplication.xsd
- ~19115/-3

[2021-04-05 14:53] Intelligent2013 opened #35 "XSDs in 19115/-3/gcx/1.0 have components with the same names"
XSDs `19115/-3/gcx/1.0/extendedTypes_autoFromShapeChange.xsd` and `19115/-3/gcx/1.0/extendedTypes.xsd` contain two global components with the same name (via included xsd)

Error:
[code]

[2021-04-05 14:55] Intelligent2013 opened #36 "XSD 19115/-3/msr/1.0/spatialRepresentationImagery.xsd references to the undeclared elements/types"
In `19115/-3/msr/1.0/spatialRepresentationImagery.xsd` there are a references to undeclared elements/types:
- msr:MD_Georectified
- msr:MD_Georectified_Type
- msr:MD_Georeferenceable
- msr:MD_Georeferenceable_Type

[2021-04-05 17:50] ronaldtse commented on #33
This is blocking ISO-TC211/schemas.isotc211.org#18.

[2021-04-05 17:50] ronaldtse commented on #34
This is blocking ISO-TC211/schemas.isotc211.org#18.

[2021-04-05 17:50] ronaldtse commented on #35
This is blocking ISO-TC211/schemas.isotc211.org#18.

[2021-04-05 17:51] ronaldtse commented on #36
This is blocking ISO-TC211/schemas.isotc211.org#18.

[2021-04-05 17:52] ronaldtse commented on #36
@Intelligent2013 aren't these defined in :

https://github.com/ISO-TC211/schemas/blob/b70b661369619800a91bef0f32484f18780c17ec/19115/-3/msr/1.0/spatialRepresentationImagery.xsd
?

[2021-04-05 17:53] ronaldtse commented on #36
Oh, this is `msr/1.0`...

[2021-04-05 19:36] Intelligent2013 commented on #36
@ronaldtse  there are only references, but aren't declarations.
But here is a note from Altova XmlSpy:
![image](https://user-images.githubusercontent.com/5559926/113614121-bef6cb00-965a-11eb-8be5-90e29010dab2.png)

May be we shouldn't build xsd documentation for this xsd, because it's a part of another xsd, i.e. it isn't standalone xsd?
But how to determine for which of XSDs we need to build xsd d

[2021-04-05 20:35] ejbleys commented on #36
I will look at the code, but current version is .../19115/-1/msr/1.3.0/msr.xsd

Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-04-06 01:13] ronaldtse commented on #36
@Intelligent2013 we can only build documentation for valid XSDs, so let’s keep a separate file (YAML) to contain the list of XSD files we want to build.

@ejbleys if we encounter errors in non-current XSDs, should we correct them or should we let them linger on?

[2021-04-06 02:47] ejbleys commented on #36
commission errors - correct
omissions errors - ignore
E
Evert Bleys
4 Tudor Place HUGHES ACT 2605
Australia
+61 (0)2 62811773
+61 (0)411 483 876
***@***.***
Skype ***@***.***

[2021-04-06 03:18] ejbleys commented on #36
Corrected in
	https://github.com/ISO-TC211/schemas/blob/master/19115/-3/msr/1.0/spatialRepresentation.xsd
	https://github.com/ISO-TC211/schemas/blob/master/19115/-3/msr/2.0/spatialRepresentation.xsd
	https://github.com/ISO-TC211/schemas/blob/master/19115/-1/msr/1.3.0/spatialRepresentation.xsd
had not correctly element:substitutionGroup= and extension:base= to msr:AbstractMD_SpatialRepresentation (

[2021-04-06 20:29] Intelligent2013 commented on #36
@ronaldtse I've added a file schemas.yml processing for list of XSD files (in https://github.com/ISO-TC211/schemas.isotc211.org/pull/19)

[2021-04-14 16:57] ronaldtse commented on #33
@Intelligent2013 can you help fix these with a PR? Thanks.

[2021-04-14 16:57] ronaldtse commented on #35
@Intelligent2013 can you help fix these with a PR? Thanks.

[2021-04-14 16:57] ronaldtse commented on #34
@Intelligent2013 can you help fix these with a PR? Thanks.

[2021-04-14 16:58] ronaldtse commented on #36
Thanks @ejbleys and @Intelligent2013 . @Intelligent2013 is this issue done now?

[2021-04-14 20:18] ejbleys commented on #36
Hi Ron
I believe it is sorted
E

Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-04-15 02:37] ronaldtse opened #37 "Schema repository contains non-schema information"
* ZIP files
  * Propose to remove them, no one needs them
* HTML files that contain description of schemas - these annotations should be subsumed into the XSD files
  * Propose to remove them and use the new automated documentation generation pipeline
* XSL processing files - these are not schemas
  * Propose to remove them
* Schemas located at: `/{number}/{name}` instead of `/{number}/{part}/{nam

[2021-04-15 03:28] ejbleys commented on #37
Hi

Ron wrote

Agreed

Ron wrote

Need to see what is presented before can commit

Ron wrote

These files should be retained: they are required for transformation between schemas, hence form part of the schemas space

Ron wrote

These files should be retained: they are used by users that have not updated to more recent versions.

This is an undertaking that TC211 made to its members - old versions

[2021-04-15 03:44] ronaldtse commented on #37
XSL files are useful for transforming XML files from one schema to another, but the XSL files themselves are supporting tools, not schemas. In addition, creating documentation for XSL files requires a different process from creating documentation for XSD schema files.

I propose that we create a separate repository to store supporting tools. The location of XSL files are not mentioned in standards

[2021-04-15 03:54] ronaldtse commented on #37
@ejbleys On https://schemas.isotc211.org there is now this sample section:

<img width="676" alt="Screenshot 2021-04-15 at 11 53 12 AM" src="https://user-images.githubusercontent.com/11865/114811692-26daad80-9de1-11eb-9b97-8cc4e7b5ab46.png">

Click on it and you can see how the auto-gen schema documentation looks like:
* https://schemas.isotc211.org/19115/-3/msr/2.0/msr/index.html
* https://schema

[2021-04-15 05:44] ejbleys commented on #37
Hi Ron

Sorry, but XSLTs are within the standard 19115-3 (similar in previous version)
“ <>
B.3 Additional resources <>
The files related to the utilization of codelists that are available for download are found in the directories associated with the packages that define those lists. There are three codelist files associated with those packages: an XML (<namespace>.xml) encoded using the xml schem

[2021-04-15 06:16] PeterParslow commented on #37
This comment is specific to the codelist files.

I hadn't really noticed that 19115-3 describes them as "files ... available for download". The way they are used - even in the examples within the standard itself - clarifies that this "download" is effectively direct access in location ("download" of the particular fragment?).

In 19115-3 the examples are informative (as they were in 19139:2006), b

[2021-04-15 07:17] ejbleys commented on #37
Hi Ron & Peter
What is the imperative to shift items that directly relate to schemas out of the schemas repository?
As Peter highlight we should not be rearranging stuff if possible.

As part of XMG, I am proposing that all future codeListValues reside in a single codelists.xml
That file can have a new location (and should be part of a registry)
But that is for new version of standards and example

[2021-04-15 07:22] PeterParslow commented on #37
I'll leave Ron to address the question.

As long as they have clear fragment identifier targets (something of type xml:id that can be exposed with html id), that can work. I believe it would be better for them to be hosted on a vocab server capable of providing responses in a variety of ways - that is, I believe the code lists should be decomposed & hosted on a registry server. Codelists are essen

[2021-04-15 07:29] ejbleys commented on #37
What I propose (as an interim process prior to registry of vocab service) has:
Web accessible nested URLs for each: standard; namespace; codelist; and codeListValue (using ids as anchors within the file) .
It takes advantage of the recursive look in catalogue (ISO 19139) using sub-catalogue association.

[2021-04-15 09:53] Intelligent2013 commented on #36
Yes, fixed. Thank you. Closing.

[2021-04-15 09:53] #36 closed, assigned to Intelligent2013

[2021-04-15 10:09] ronaldtse commented on #36
Thanks!

[2021-04-15 15:05] Intelligent2013 commented on #33
I have a question regarding issues:
5. `19157\-\dqm\1.2.0\dqm.xsd` -> `19135/-2/pre/1.2.0/pre.xsd`
6. `19157\-\dqm\1.2.0\qualityMeasures.xsd` -> `19135/-2/pre/1.2.0/pre.xsd`

In repository there isn't folder `19135/-2/pre/1.2.0`, only `19135/-2/pre/1.0`.
@ronaldtse  @ejbleijs  Can I change a link to `19135/-2/pre/1.0/pre.xsd` (i.e. decrease a version) ?

[2021-04-15 17:34] Intelligent2013 commented on #34
In XSDs there are 3 types of links to another XSDs:
1. relative path:
[code]
2. absolute path to https://schemas.isotc211.org:
[code]
3. absolute path to http://standards.iso.org:
[code]

As I understand, types 1 and 2 are equal, because https://schemas.isotc211.org is a mirror of this repository.

Regarding type 3, as soon XSD opens any another XSD from site http://standards.iso.org, then all pat

[2021-04-15 17:43] Intelligent2013 commented on #35
Main schema in 19115/-3/gcx/1.0/gcx.xsd has link to extendedTypes.xsd, but not to extendedTypes_autoFromShapeChange.xsd. And there isn't any schema with link to extendedTypes_autoFromShapeChange.xsd.
So there isn't issue here. Closing.

[2021-04-15 17:43] #35 closed, assigned to Intelligent2013

[2021-04-15 20:48] ejbleys commented on #34
Will deal later today
Type 3 should not exist
...2014 exists because it did - should continue

Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-04-15 20:53] ejbleys commented on #33
I’ll check it out today

Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-04-15 21:31] ejbleys commented on #33
Need to check ALL namespace URI declarations

Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-04-16 05:28] ejbleys commented on #35
sorry
this comes from my predecessor
i have no knowledge
i believe it is excess to requirements
unused, unusable

e
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-04-16 05:31] ronaldtse commented on #35
File removed in #38.

[2021-04-16 05:43] ejbleys commented on #34
this is probably round tripping - that is allowed
name=“AbstractObject_Type” is declared in
https://schemas.isotc211.org/19103/-/gco/1.2.0/baseTypes.xsd
https://schemas.isotc211.org/19115/-3/gco/1.0/baseTypes.xsd
https://schemas.isotc211.org/19115/-3/gco/1.0/baseTypes2014.xsd
https://schemas.isotc211.org/19139/-/gco/1.0/gcoBase.xsd
There is no direct or indirect interactions between these files

E

[2021-04-16 05:44] ejbleys commented on #34
Type 1 could be converted into type 2 if you prefer
There are pros and cons for each

Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-04-16 06:05] ronaldtse commented on #34
@ejbleys for type 3, the only issue here is with `schemaLocation`. Why don't we change all the `https://standards.iso.org/...` to `https://schemas.isotc211.org/...`? It doesn't affect the namespace or the usage of the schema. `schemaLocation` in any case is technically provided as an informative hint.

[2021-04-16 06:08] ejbleys commented on #33
19163-2\igd\1.2.0\
removed
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-04-16 06:09] ejbleys commented on #34
GitHub has been updated
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-04-16 06:18] ronaldtse commented on #37
In light of the above discussion of code lists and resources:

* Tools are by nature different from data. Given this repository is called "schemas", they definitely don't belong to the schema category. Let's keep them in a separate repository? e.g. "xml-resources"?

* XML codelists are not schemas, they can "exist" inside schemas. If they are offered separately as XML files, they should probably b

[2021-04-16 06:27] ronaldtse commented on #34
@ejbleys I can't see the GH update, was it pushed? Thanks.

[2021-04-16 08:07] Intelligent2013 commented on #34
@ejbleys yes, between these files there isn't interactions directly. But via another XSDs we get the case, when:
- one imported XSD (let's say "A") pointed to baseTypes.xsd, and
- another imported XSD (let's say "B") pointed to baseTypes2014.xsd
- 19115/-3/mda/2.0/mda.xsd pointed to "A" XSD and "B" XSD, i.e. 19115/-3/mda/2.0/mda.xsd imported both "baseTypes.xsd" and "baseTypes2014.xsd", and we get

[2021-04-16 08:08] Intelligent2013 commented on #33
FYI, my changes (in the branch issue/33) here: https://github.com/ISO-TC211/schemas/commit/e317640ad23318432ad439b7f8e105ad128428bd
(except issues 5 and 6)

[2021-04-16 08:12] ejbleys commented on #34
Still?
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-04-16 08:31] Intelligent2013 commented on #34
@ejbleys yes, there is a links to 'schemaLocation="http://standards.iso.org/iso...'
- 19110\fcc\1.0\fcc.xsd:
[code]

- 19131\-1\dps\2.0\dps.xsd:
[code]
- 19165\gpm\1.0\geospatialPreservationMetadata.xsd:
[code]
I see at master branch.

[2021-04-16 09:46] Intelligent2013 commented on #34
PR created https://github.com/ISO-TC211/schemas/pull/39

[2021-04-16 10:08] Intelligent2013 commented on #34
Done. Closing.

[2021-04-16 10:08] #34 closed, assigned to Intelligent2013

[2021-04-16 10:49] Intelligent2013 commented on #33
PR created https://github.com/ISO-TC211/schemas/pull/40

[2021-04-16 10:50] Intelligent2013 commented on #33
For 19135/-2/pre/1.0/pre.xsd I've changed namespace to `http://standards.iso.org/iso/19135/-2/pre/1.0`.

[2021-04-17 06:38] ejbleijs commented on #33
Thanks
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-04-17 10:05] ronaldtse opened #41 "List out schemas available and their namespaces"
Some ISO/TC 211 schemas use `schemas.isotc211.org` but some use `standards.iso.org` in namespaces.

I wonder if we should list all available schemas out and also their namespaces (which are like their IDs) on the front page for developers?

Ping @ejbleys

[2021-04-17 10:06] ronaldtse commented on #33
#40 is merged. Anything further to do here @Intelligent2013 ?

[2021-04-17 10:35] Intelligent2013 commented on #33
@ronaldtse everything looks ok now. Thank you!

[2021-04-17 10:35] #33 closed, assigned to Intelligent2013

[2021-04-17 10:37] ejbleys commented on #41
Seems reasonable
The namespaces were in the (few) HTMLs I generated (I think also in all 19115)
E

Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-04-17 11:51] Intelligent2013 opened #42 "There is a link to non-existing schema 19163/-2/igd/1.2.0/igd.xsd"
For: https://github.com/ISO-TC211/schemas.isotc211.org/issues/18

[code]

[code]

[2021-04-17 12:59] Intelligent2013 commented on #42
In schemas:
- 19130/-1/smi/1.1.0/groundControlPoints.xsd
- 19130/-1/smi/1.1.0/nonPhysicalSensorModel.xsd
there are links to non-existing (removed in https://github.com/ISO-TC211/schemas/issues/33#issuecomment-820933420) XSDs:
- 19163/-2/igd/1.2.0/igd.xsd
- 19163/-2/igd/1.2.0/IE_ImageryAndGriddedData.xsd

@ejbleys @ronaldtse  In PR https://github.com/ISO-TC211/schemas/pull/43 I propose to change li

[2021-04-17 20:45] ejbleys commented on #42
Correct
-2 igd 1.2 recently removed due to incorrect form and content
-1 igd 1.1 is replacement
E

Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-04-18 11:19] Intelligent2013 commented on #42
Thank you! Done.

[2021-04-18 11:19] #42 closed, assigned to Intelligent2013

[2021-04-18 11:32] ejbleys commented on #42
Thanks

Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-04-18 23:47] ejbleys commented on #37
works for me, but only for new material, as systems have already been updated to existing locations on https://schemas.isotc211.org/

[2021-04-19 07:06] PeterParslow commented on #37
If you want to change or add to the URI pattern(s) that are in the "good practice", could you get all the "MG" convenors to agree. It would be good to document there where this is a transition - showing that some standards were published before the pattern was agreed.

https://committee.iso.org/sites/tc211/home/resolutions/isotc-211-good-practices/--structure-of-uris-in-isotc-211.html - no pattern

[2021-04-22 12:24] ronaldtse commented on #41
Thanks @ejbleys !

We'll work on that.

[2021-04-22 20:33] ejbleys commented on #41
If it is useful, I can provide a hand made version that identifies imported and included namespaces
As a result I can see 19115/-3/cit/2.0 imports 19115/-3/lan/1.0 which imports 19115/-3/cit/1.0
E

Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-04-23 08:08] PeterParslow opened #44 "Schema browser issues (19139 first edition)"
The schema browser (left hand pane) at https://schemas.isotc211.org/schemas/19139/ no longer lists the file metadataEntity.xsd; the file does appear in its location (https://schemas.isotc211.org/schemas/19139/-/gmd/1.0/metadataEntity.xsd), but you cannot browse to it.

Also, the schema browser (left hand pane) at https://schemas.isotc211.org/schemas/19139/ now contains a lot of .svg files.

Perhap

[2021-04-23 08:43] ronaldtse commented on #44
@PeterParslow apologies for this we are still experimenting with the best way in exposing schema documentation.

The SVG files are meant to load at the front-page links, e.g.:
https://schemas.isotc211.org/19139/-/gco/1.0/gco/

I think we will move the documentation to another location...

[2021-04-23 08:43] ronaldtse commented on #44
Ping @strogonoff @Intelligent2013

[2021-04-23 11:00] PeterParslow commented on #44
These look good, and I assumed the images were for the index pages (although there are a lot more svg files than images)

Or perhaps just the images, leaving the index files to be found by browsing.

[2021-04-25 13:32] Intelligent2013 commented on #44
@ronaldtse what if we rename `diagrams` to `.diagrams` and make changes in `jekyll-theme-isotc211/_includes/resource-tree-item.html` for ignoring items starting on `.`? It will looks as `hidden` file/folder in *nix systems.

[2021-05-05 11:53] enricoboldrini opened #45 "Algorithm element typo"
Hello,

I found that in the following files:
Restructure/19115/-2/mrl/2.1.0/lineageImagery.xsd
Restructure/19115/-2/mrl/2.2.0/lineageImagery.xsd
schemas.isotc211.org/19115/-2/mrl/2.2.0/lineageImagery.xsd
schemas.isotc211.org/19115/-3/mrl/2.0/lineageImagery.xsd
algorithm is mispelled (algarithum).

Kind regards,
Enrico

[2021-05-10 10:37] enricoboldrini opened #47 "Environmental record elements #1"
Hello,

according to the spec these elements:

          <element name="averageAirTemperature" type="gco:Real_PropertyType"/>
          <element name="maxRelativeHumidity" type="gco:Real_PropertyType"/>
          <element name="maxAltitude" type="gco:Real_PropertyType"/>
          <element name="meterologicalConditions" type="gco:CharacterString_PropertyType"/>
          <element name="solarAzimut

[2021-05-10 10:39] enricoboldrini opened #48 "Environmental record elements #2"
Hello,

it seems that these elements:

          <element name="averageAirTemperature" type="gco:Real_PropertyType"/>
          <element name="maxRelativeHumidity" type="gco:Real_PropertyType"/>
          <element name="maxAltitude" type="gco:Real_PropertyType"/>

in MI_EnvironmentalRecord_Type lack units of measure from their definitions, but the type is gco:Real... maybe it could be useful to:
1

[2021-05-11 04:37] ejbleys commented on #48
Please report this into the TC211 standards Tracker so that it can be considered at the next major TC211 meeting
https://github.com/ISO-TC211/StandardsTracker

Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-05-11 04:43] ejbleys commented on #47
Ready for review and approval

Thank you, this issue is now being addressed but only in version 2.0
As the elements that are there where mandatory in 19115-3:mac version 1.0 and gmi both derived from (19115-2:2009)

E
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-06-10 08:22] ronaldtse opened #49 "gco/baseTypes.xsd vs gco/gco.xsd"
We currently have these files for `gco`:

* https://github.com/ISO-TC211/schemas/blob/master/19103/-/gco/1.2.0/baseTypes.xsd
* https://github.com/ISO-TC211/schemas/blob/master/19103/-/gco/1.2.0/gco.xsd

`gco.xsd` is purely a wrapper over `baseTypes.xsd` with extra annotation and an import of `baseTypes.xsd`:

https://github.com/ISO-TC211/schemas/blob/c91c7ccc4829111b33ff20490876561fcfeae065/19103/

[2021-06-10 09:29] ejbleys commented on #49
I would not combine the two at this time as TC211/WG 1 is V likely to be reviewing ISO 19103 in the near future and may well expand the references in gco.xsd.
I believe that .../19103/-/gco/1.2.0/gco.xsd is use in a multitude of schemas
It is reasonable to resolve the 19123/-/cit/1.1.0/gridPoint.xsd circular referencing issue

[2021-06-10 09:46] ronaldtse commented on #49
True...

Cool. Should we keep `baseTypes.xsd` or `gco.xsd`?

[2021-06-10 09:49] ejbleys commented on #49
I see 63 occurrences of …/19103/-/gco/1.2.0/gco.xsd

Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-06-10 09:51] ronaldtse commented on #49
@ejbleys indeed I missed some references on double checking now! But actually many of those are from index.html files.

And the double import of `gco.xsd` and `baseTypes.xsd` is also more pronounced.

[2021-06-10 09:54] ronaldtse commented on #49
Double imports:
* 19130/-2/smi/1.1.0/spatialElements.xsd
* 19130/-2/smi/1.1.0/sensorParameters.xsd
* 19130/-2/smi/1.1.0/codeList.xsd
* 19130/-1/smi/1.1.0/spatialElements.xsd
* 19130/-1/smi/1.1.0/physicalSensorModel.xsd
* 19130/-1/smi/1.1.0/groundControlPoints.xsd
* 19130/-1/smi/1.1.0/codeList.xsd
* 19123/-/cis/3.1.0/gridPoint.xsd
* 19123/-/cis/3.1.0/codeLists.xsd
* 19123/-/cis/1.1.0/gridPoint.xsd

[2021-06-10 09:56] ejbleys commented on #49
Not in HTMLs (filtered on .xsd)
But gco PLUS baseTypes - issue accepted
Should drop baseTypes if get gco from parent
Can you find - I could, but judging by some of your recent amazing achievements, it might be easier for you.

Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-06-10 09:59] ejbleys commented on #49
Thanks
I will deal

Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-06-10 10:00] ronaldtse commented on #49
@ejbleys up to you! Happy to make a PR for it if you'd like me to do it.

[2021-06-10 10:43] ejbleys commented on #49
Have updated in GitHub XML for testing
Ready to update GitHub Schemas once testing done

Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-06-10 11:45] ronaldtse commented on #49
Thank you @ejbleys !

[2021-06-11 06:59] #45 closed, assigned to nobody

[2021-06-18 08:02] ronaldtse commented on #49
@ejbleys are the new changes ready to go? Thanks!

[2021-06-18 21:32] ejbleys commented on #49
Later today
Evert Bleys
4 Tudor Place
HUGHES ACT 2605
Australia
email:  ***@***.***
Mob:   +61 (0)411 483 876
Land:  +61 (0)2 6281 1773
Skype: ***@***.***

[2021-06-19 03:34] ejbleys commented on #49
I believe this has been resolved: gco.xsd + baseTypes.xsd -> gco.xsd

[2021-06-28 07:24] ronaldtse commented on #49
@ejbleys there are a few files that still refer to `19103/-/gco/1.2.0/baseTypes.xsd`:

[code]

Should we change those to just `gco.xsd` too?

[2021-06-28 09:03] ejbleys commented on #49
Do not unless also referencing gco.xsd. Logically they could, but referencing basicTypes.xsd is perfectly appropriate, so long as they do not also reference gco.xsd.
E
Evert Bleys
4 Tudor Place
HUGHES ACT
Australia
Mob: 0411 483 876

[2021-07-01 03:17] ronaldtse commented on #49
While such usage is valid, it is a bit strange to reference `baseTypes.xsd` when the schema points to `gco` and that all other schemas already use `gco.xsd`.

The logic goes as follows:

1. `<xs:import namespace="https://schemas.isotc211.org/19103/-/gco/1.2"/>` is fine by itself because `schemaLocation` is optional.
2. If we add `schemaLocation` to the `xs:import` statement, it would likely be exp

[2021-09-13 01:48] ejbleys commented on #49
I believe all these have been resolved now

[2021-09-13 01:50] #47 closed, assigned to nobody

[2021-09-13 01:50] #48 closed, assigned to nobody

[2021-09-13 05:19] ronaldtse commented on #49
Thanks @ejbleys !

[2021-09-13 05:20] #49 closed, assigned to ejbleys

[2021-09-27 03:34] ronaldtse opened #51 "“Resources” directory not copying through"
From @ejbleys

[2022-03-09 18:20] ronaldtse opened #52 "Rename default branch to `main`"

[2022-03-09 18:20] ronaldtse commented on #52
Done.

[2022-03-09 18:20] #52 closed, assigned to ronaldtse